<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzed Pull Requests</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .compact-table {
            width: auto;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>Summary</h1>
    <table class="compact-table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            {% for status, nb in summary.items() %}
            <tr style="background-color: {{ color_mapping[status] | default('#FFFFFF') }}">
                <td>{{ status }}</td>
                <td>{{ nb }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Pull Requests</h1>
    <table>
        <thead>
            <tr>
                <th>PR</th>
                <th>Title</th>
                <th>Summary</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for pr_result in data %}
            <tr style="background-color: {{ color_mapping[pr_result.status()] | default('#FFFFFF') }}">
                <td><a href="{{ pr_result.url }}">{{ pr_result.number }}</a></td>
                <td>{{ pr_result.title }}</td>
                <td>{{ pr_result.summary() }}</td>
                <td>{{ pr_result.time_taken }}</td>
                <td><a href="/pr{{ pr_result.number }}">{{ pr_result.status() }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>